.app-container {
  width: 100%;
}

#header {
  display: flex;
  justify-content: center;
  padding: 20px;
}
h3 {
  border-bottom: 3px solid #8a8787; 
  padding-bottom: 10px; 
  width: 100%;
}
.file-container {
  display: flex; 
  justify-content: space-between; 
  margin: 10px; 
  flex-wrap: wrap; 
}

.list {
  background-color: #ffffff; 
  flex: 1; 
  margin: 10px; 
  padding: 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  min-width: 200px;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  min-width: 200px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  max-width: 100px; 
}
.table th {
  background-color: #f1f1f1;
}


.table th:nth-child(1) {
  width: 10%; 
}

.table th:nth-child(2) {
  width: 20%; 
}

.table th:nth-child(3) {
  width: 70%; 
}
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-bar input:focus {
  border-color: #0063cd;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
}

.search-bar input::placeholder {
  font-style: italic;
  color: #aaa;
}

